.catalog{
  background-color: orangered;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: yellow;
    color: red; /* Set text color to red */
  }
  
  .App {
    text-align: center;
  }
  
  .products-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .catalog h1{
    color: yellow;
  }
  