.products
{
    border: 1px solid black;
    display: inline-block;
    width: 220px;
    height: 300px;
    margin: 3px 5px;
    border-radius: 2px;

}

.product img{
    width: 140px;
    height: 140px;
}
  
 